In [1]:
# Importing required libraries
import pandas as pd
import numpy as np

In [2]:
# Load the data
df = pd.read_csv('../Dataset/sanFran_clean.csv')
print("The dataset has {} rows and {} columns.".format(df.shape[0], df.shape[1]))

# Subset the dataset
df = df[['district', 'day', 'time', 'month']]

df.head(3)

The dataset has 2160952 rows and 12 columns.

   district       day      time  month
0  NORTHERN   Tuesday  13:53:00     11
1   TARAVAL   Tuesday  23:10:00      3
2   TARAVAL  Thursday  12:00:00      5

In [3]:
df['hour'] = pd.to_datetime(df['time']).dt.hour # Extract hour 
del df['time'] # Delete Original Time column
df.head(2)

   district      day  month  hour
0  NORTHERN  Tuesday     11    13
1   TARAVAL  Tuesday      3    23

In [4]:
# Counting crime occurences for a particular district on a given timestap
df = df.groupby(df.columns.tolist()).size().reset_index().rename(columns={0:'Crime Occurences'})
df["Crime Occurences"] = pd.to_numeric(df["Crime Occurences"]) # Convert to numeric values

print("The dataset has {} rows and {} columns.".format(df.shape[0], df.shape[1]))
df = df.sort_values(by = ['Crime Occurences'], ascending = False) # Sort by Crime Occurences
df.head(3)

The dataset has 20160 rows and 5 columns.

       district        day  month  hour  Crime Occurences
15858  SOUTHERN  Wednesday      1    18               391
15906  SOUTHERN  Wednesday      3    18               387
14298  SOUTHERN     Friday      8    18               383

In [10]:
# Binning data into quartiles
bin_labels_5 = ['Lowest', 'Low', 'Medium', 'High', 'Extreme'] # Defining Quartile Labels
df['Class'] = pd.qcut(df['Crime Occurences'], q=[0, .2, .4, .6, .8, 1], labels=bin_labels_5)

print(df.Class.value_counts())
df.sample(n=3) # Print five random rows for inspection

Lowest     4118
Low        4048
Medium     4035
High       3987
Extreme    3972
Name: Class, dtype: int64

       district       day  month  hour  Crime Occurences   Class
3351    CENTRAL  Thursday      8    15               122    High
3198    CENTRAL  Thursday      2     6                40  Lowest
4877  INGLESIDE  Saturday     12     5                28  Lowest

In [11]:
# Saving dataset
df.to_csv('../Dataset/classificationData.csv')