In [1]:
# Importing required libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
# Load the data
df = pd.read_csv('../Dataset/sanFran_clean.csv')
#df = df.drop(df.columns[0], axis=1) # Drop the first column
print("The dataset has {} rows and {} columns.".format(df.shape[0], df.shape[1]))
df.head()

The dataset has 2215023 rows and 12 columns.

,Unnamed: 0,day,district,result,x,y,location,datetime,year,month,date,time
0,0,Friday,TARAVAL,LOCATED,-122.476328,37.719687,POINT (-122.476327815126 37.7196874952717),2011-04-15 16:00:00,2011,4,2011-04-15,16:00:00
1,1,Thursday,SOUTHERN,"ARREST, BOOKED",-122.411340,37.781271,POINT (-122.411339562557 37.7812707434494),2009-03-26 12:28:00,2009,3,2009-03-26,12:28:00
2,2,Friday,PARK,"ARREST, BOOKED",-122.435188,37.762670,POINT (-122.435187699349 37.7626702770872),2013-02-15 02:00:00,2013,2,2013-02-15,02:00:00
3,3,Tuesday,MISSION,"ARREST, CITED",-122.421886,37.764918,POINT (-122.421886357981 37.7649178909424),2008-01-15 20:13:00,2008,1,2008-01-15,20:13:00
4,4,Saturday,MISSION,"ARREST, BOOKED",-122.413935,37.751693,POINT (-122.413935404044 37.7516932889916),2007-05-26 18:10:00,2007,5,2007-05-26,18:10:00