In [1]:
# Importing the packages

import pandas as pd
import numpy as pd
import matplotlib.pyplot as plt
import seaborn as sns
import time
import os

In [2]:
# Reading the dataset

import pandas as pd
df = pd.read_csv('../Dataset/Vancouver/crimedata_csv_all_years.csv')
print("The dataset has {} rows and {} columns.".format(df.shape[0], df.shape[1]))

/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (0,2,6,12) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

The dataset has 491916 rows and 17 columns.

In [4]:
# Selecting wanted attributes from the dataset

#df = df[['ADDR_PCT_CD', 'BORO_NM', 'CMPLNT_FR_DT', 'CMPLNT_FR_TM', 'CRM_ATPT_CPTD_CD', 'Latitude', 'Longitude']]
df = df[['DISTRICT', 'OCCURRED_ON_DATE', 'YEAR', 'MONTH', 'DAY_OF_WEEK', 'HOUR', 'Lat', 'Long']]
df.head()

,DISTRICT,OCCURRED_ON_DATE,YEAR,MONTH,DAY_OF_WEEK,HOUR,Lat,Long
0,External,2019-10-16 00:00:00,2019,10,Wednesday,0,NaN,NaN
1,E13,2019-12-20 03:08:00,2019,12,Friday,3,42.325122,-71.107779
2,C11,2019-10-23 00:00:00,2019,10,Wednesday,0,42.297555,-71.059709
3,D14,2019-11-22 07:50:00,2019,11,Friday,7,42.355120,-71.162678
4,E13,2019-11-05 18:00:00,2019,11,Tuesday,18,42.309718,-71.104294

In [5]:
# Changing the column names for ease

#df.columns = ['precinct', 'borough', 'date', 'time', 'successful', 'latitude', 'longitude']
df.columns = ['district', 'date', 'year', 'month', 'day', 'hour', 'latitude', 'longitude']
print(df.columns)

Index(['district', 'date', 'year', 'month', 'day', 'hour', 'latitude',
       'longitude'],
      dtype='object')

In [6]:
# Inspecting the data

print("The dataframe has {} rows and {} columns.".format(df.shape[0], df.shape[1]))
df.head()

The dataframe has 491916 rows and 8 columns.

,district,date,year,month,day,hour,latitude,longitude
0,External,2019-10-16 00:00:00,2019,10,Wednesday,0,NaN,NaN
1,E13,2019-12-20 03:08:00,2019,12,Friday,3,42.325122,-71.107779
2,C11,2019-10-23 00:00:00,2019,10,Wednesday,0,42.297555,-71.059709
3,D14,2019-11-22 07:50:00,2019,11,Friday,7,42.355120,-71.162678
4,E13,2019-11-05 18:00:00,2019,11,Tuesday,18,42.309718,-71.104294

In [7]:
# There are five boroughs in NYC

df.district.value_counts()

B2          78310
C11         66225
D4          62730
B3          56329
A1          54008
C6          35276
D14         31045
E18         27411
E13         27178
E5          20923
A7          19931
A15          9982
External      134
Name: district, dtype: int64

In [8]:
# Checking for null values

df.isnull().sum()

district      2434
date             0
year             0
month            0
day              0
hour             0
latitude     28525
longitude    28525
dtype: int64

We can't make any predictions without having latitude, longitude, precinct, success, date and time data, so we drop the rows with empty location values.

In [9]:
df = df[df['latitude'].notna()]
df = df[df['longitude'].notna()]
df = df[df['date'].notna()]
df = df[df['time'].notna()]
df = df[df['precinct'].notna()]
df = df[df['successful'].notna()]

In [10]:
# Subsetting rows which don't have a borough associated with them

empty_borough = df[df['borough'].isnull()]
df = df[df['borough'].notna()]

In [11]:
# Reverse geocoding buroughs to these rows using a shapefile

import shapefile
import shape

def reverse_geocoding(lat, long):
    gc = shape.geocoder('../Dataset/Boundaries/geo_export_2e75603d-84ed-472e-aab4-8b52d95e7341.shp')
    return gc.geocode(lat, long)['boro_name'].upper()

In [12]:
# Assigning borough to empty fields and merging subset with original data

empty_borough['borough'] = empty_borough.apply(lambda row: reverse_geocoding(row['latitude'], row['longitude']), axis=1)
df = pd.concat([df, empty_borough], axis=0)

TypeError: ("'NoneType' object is not subscriptable", 'occurred at index 377167')

In [ ]:
# Saving the clean dataset

df.to_csv('../Dataset/nypd_complaints_clean.csv')