In [1]:
# Importing required libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [9]:
# Load the data
df = pd.read_csv('../Dataset/nypd_complaints_clean.csv')
df = df.drop(df.columns[0], axis=1) # Drop the first column
df.head()

   precinct   borough        date      time successful   latitude  longitude
0       113    QUEENS  06/30/2018  23:30:00  COMPLETED  40.683786 -73.769746
1       115    QUEENS  06/30/2018  23:20:00  COMPLETED  40.756298 -73.878397
2        94  BROOKLYN  06/30/2018  23:09:00  COMPLETED  40.726965 -73.953117
3        41     BRONX  06/30/2018  23:00:00  COMPLETED  40.824519 -73.897849
4        43     BRONX  06/30/2018  23:00:00  COMPLETED  40.822552 -73.867003

In [53]:
# Fix data points with errors in year
df = df.replace(to_replace ='1018', value = '2018', regex = True) 
df = df.replace(to_replace ='1028', value = '2018', regex = True) 
df = df.replace(to_replace ='1017', value = '2017', regex = True) 
df = df.replace(to_replace ='1016', value = '2016', regex = True) 
df = df.replace(to_replace ='1025', value = '2015', regex = True)

In [54]:
# Convert `date` column to Pandas' Datetime format
pd.to_datetime(df['date'], format='%m/%d/%Y')

0        2018-06-30
1        2018-06-30
2        2018-06-30
3        2018-06-30
4        2018-06-30
            ...
228886   2018-01-09
228887   2000-06-09
228888   2018-01-06
228889   2018-01-03
228890   2018-01-01
Name: date, Length: 228891, dtype: datetime64[ns]

In [61]:
# Extract year and month to new columns
df['year'] = pd.DatetimeIndex(df['date']).year
df['month'] = pd.DatetimeIndex(df['date']).month
df.head(2)

,precinct,borough,date,time,successful,latitude,longitude,year,month
0,113,QUEENS,06/30/2018,23:30:00,COMPLETED,40.683786,-73.769746,2018,6
1,115,QUEENS,06/30/2018,23:20:00,COMPLETED,40.756298,-73.878397,2018,6